/* CSS declarations go here */
.right-part {
    width: 40%;
    float: right;
}

.left-part {
    width: 40%;
    float: left;
}

html, body {
    height: 100%;
}

.col-lg-20 {
    position: relative;
    z-index: 10;
}

.navbar.header {
    background-color: #428BCA;
}

.navbar-brand, .header{
    color: white !important;
    border-color: white;
}

